
# MacOs .gitignore
.DS_Store

# Node.js .gitignore
node_modules
*.env
build
development_assets

# Python .gitignore
__pycache__
*.py[cod]
$py.class
.Python
.venv/
Backtester.html

# Test files
*.png

# Timescale files
database/data